bottle==0.12.17
bottle-websocket==0.2.9
Eel==0.10.4
future==0.18.3
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
joblib==0.13.2
numpy==1.17.0
pandas==0.25.0
plotly==4.0.0
python-dateutil==2.8.0
pytz==2019.1
retrying==1.3.3
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
whichcraft==0.6.0
